Repository maplelabs/opensearch-scaling-manager, pull requests merged in 2022-12, with the labels that each got.

#75 Api for cluster provisioning
  simulator/src/app.py
  simulator/src/config_parser.py
  simulator/src/constants.py
  simulator/src/simulator.py
Labels: Simulator

#80 Removed comments and mock cases
  provision/provision.go
Labels: Provision

#94 Changed the path parameter to test config files from relative to absolute path
  simulator/tests/test_config_parser.py
Labels: Simulator

#93 Custom error for config validation failure.
  simulator/src/config_parser.py
  simulator/src/errors.py
Labels: Simulator

#104 Struct update & goroutine removal
  main.go
  provision/provision.go
  provision/trigger.go
Labels: Provision

#106 Fix panic error Issue #105
  provision/state_functions.go
Labels: Provision

#96 Rename 'index_roll_over_size' to 'index_roll_over_size_gb'
  simulator/src/cluster.py
  simulator/src/config.yaml
  simulator/src/schema.py
  simulator/tests/config_test/config_1_P.yaml
  simulator/tests/config_test/config_2_P.yaml
  simulator/tests/config_test/config_3_P.yaml
  simulator/tests/config_test/config_5_F.yaml
  simulator/tests/config_test/config_6_F.yaml
  simulator/tests/test_config_parser.py
Labels: Simulator

#112 Regenerate data points in case of node addition
  simulator/src/app.py
  simulator/src/cluster.py
  simulator/src/config.yaml
  simulator/src/config_parser.py
  simulator/src/constants.py
  simulator/src/open_search_simulator.py
  simulator/src/plotter.py
  simulator/src/schema.py
Labels: Simulator

#119 Resolved endpoints not responding with Not enough datapoints
  simulator/src/app.py
Labels: bug, Simulator

#145 Added function to fetch time corresponding to first data point generation
  simulator/src/app.py
Labels: Simulator

#148 Cluster dynamic data via an endpoint.
  simulator/src/app.py
  simulator/src/cluster.py
  simulator/src/config.yaml
  simulator/src/constants.py
  simulator/src/schema.py
  simulator/tests/config_test/config_1_P.yaml
  simulator/tests/config_test/config_2_P.yaml
  simulator/tests/config_test/config_3_P.yaml
  simulator/tests/config_test/config_4_F.yaml
  simulator/tests/config_test/config_5_F.yaml
  simulator/tests/config_test/config_6_F.yaml
  simulator/tests/test_app.py
Labels: Simulator

#152 Simulate Node removal through endpoint - Rel v0.1
  simulator/readme.md
  simulator/src/app.py
  simulator/src/cluster.py
Labels: Simulator
