Repository maplelabs/opensearch-scaling-manager, pull requests merged in 2023-01, with the labels that each got.

#166 Updated log statements
  provision/provision.go
  provision/state_functions.go
Labels: Provision

#164 Test case to config_parser.py
  simulator/tests/test_config_parser.py
Labels: Simulator

#172 Fix #157 deadlock issue
  provision/provision.go
Labels: Provision

#186 Restructured Simulator to accommodate index, node and shard granularity
  simulator/src/app.py
  simulator/src/cluster.py
  simulator/src/config.yaml
  simulator/src/constants.py
  simulator/src/index.py
  simulator/src/node.py
  simulator/src/open_search_simulator.py
  simulator/src/schema.py
  simulator/src/shard.py
Labels: Simulator

#195 Restructured Simulator Add/Remove endpoints
  simulator/src/app.py
  simulator/src/cluster.py
  simulator/src/cluster_dynamic.py
  simulator/src/config.yaml
  simulator/src/open_search_simulator.py
  simulator/src/plotter.py
  simulator/src/schema.py
Labels: Simulator

#196 Restructured Cluster Dynamic Class
  simulator/src/app.py
  simulator/src/cluster.py
  simulator/src/cluster_dynamic.py
  simulator/src/config.yaml
  simulator/src/plotter.py
Labels: Simulator

#197 Updated CPU, Memory and Heap util Logic
  simulator/src/cluster.py
  simulator/src/config.yaml
  simulator/src/constants.py
  simulator/src/open_search_simulator.py
Labels: Simulator

#198 Updated Indices count in config yaml
  simulator/src/config.yaml
  simulator/src/constants.py
  simulator/src/data_ingestion.py
  simulator/src/open_search_simulator.py
  simulator/src/plotter.py
Labels: Simulator

#210 Added Flag to monitor with logs
  config.yaml
  config/config.go
Labels: Recommendation

#208 Ansible scripts to scaleup/down & Integration
  main.go
  provision/ansible_scripts/ansible.cfg
  provision/ansible_scripts/docs.py
  provision/ansible_scripts/group_vars/all/all.yml
  provision/ansible_scripts/roles/scale_down/defaults/main.yml
  provision/ansible_scripts/roles/scale_down/handlers/main.yml
  provision/ansible_scripts/roles/scale_down/tasks/main.yml
  provision/ansible_scripts/roles/scale_down/vars/main.yml
  provision/ansible_scripts/roles/scale_up/defaults/main.yml
  provision/ansible_scripts/roles/scale_up/handlers/main.yml
  provision/ansible_scripts/roles/scale_up/tasks/ansible.cfg
  provision/ansible_scripts/roles/scale_up/tasks/install_ansible.yml
  provision/ansible_scripts/roles/scale_up/tasks/main.yml
  provision/ansible_scripts/roles/scale_up/tasks/opensearch.yml
  provision/ansible_scripts/roles/scale_up/tasks/security.yml
  provision/ansible_scripts/roles/scale_up/tasks/tune.yml
  provision/ansible_scripts/roles/scale_up/templates/internal_users.yml
  provision/ansible_scripts/roles/scale_up/templates/jvm.options
  provision/ansible_scripts/roles/scale_up/templates/opensearch-multi-node.yml
  provision/ansible_scripts/roles/scale_up/templates/opensearch.service
  provision/ansible_scripts/roles/scale_up/templates/security_conf.yml
  provision/ansible_scripts/roles/scale_up/templates/tlsconfig.yml
  provision/ansible_scripts/scaleDownPlaybook.yml
  provision/ansible_scripts/scaleUpPlaybook.yml
  provision/callAnsible.go
  provision/provision.go
  provision/scaleUpNode.go
  provision/state_functions.go
  provision/trigger.go
Labels: Provision

#213 Updated client name
  fetchmetrics/fetchMetrics.go
Labels: FetchMetrics

#200 Restructured current, avg, violated endpoints to receive query params
  simulator/src/app.py
  simulator/src/cluster.py
  simulator/src/constants.py
Labels: Simulator

#241 Restructure Provisioner
  provision/provision.go
  provision/state_functions.go
  provision/trigger.go
Labels: Provision

#237 Fetch metrics
  fetchmetrics/fetchClusterMetrics.go
  fetchmetrics/fetchMetrics.go
  fetchmetrics/fetchNodeMetrics.go
  fetchmetrics/purgeOldDocs.go
  utils/utilities.go
Labels: FetchMetrics

#233 Opensearch/Utility Code
  opensearch/apiCalls.go
  opensearch/mappings.json
  opensearch/osConnection.go
  utilities/utilities.go
Labels: enhancement

#238 Recommendation code restructure
  cluster/cluster_level_parameters.go
  cluster_sim/cluster_level_parameters.go
  config/config.go
  go.mod
  main.go
  recommendation/recommendationEngine.go
  recommendation/task_test.go
Labels: Recommendation

#246 Updated package name
  opensearch/apiCalls.go
  opensearch/osConnection.go
Labels: enhancement

#245 Variable passing/package name update
  provision/provision.go
  provision/state_functions.go
  provision/trigger.go
Labels: Provision

#244 Update OS package name
  fetchmetrics/fetchClusterMetrics.go
  fetchmetrics/fetchNodeMetrics.go
  fetchmetrics/purgeOldDocs.go
  mappings.json
Labels: FetchMetrics

#243 Enhancements/Refactor
  cluster/cluster_level_parameters.go
  config.yaml
  config/config.go
  main.go
  recommendation/recommendationEngine.go
  recommendation/task_test.go
Labels: Recommendation

#260 Code format/ConfigStruct update
  provision/callAnsible.go
  provision/provision.go
  provision/scaleUpNode.go
  provision/state_functions.go
  provision/trigger.go
Labels: Provision

#263 Updated OS package
  fetchmetrics/fetchClusterMetrics.go
  fetchmetrics/fetchNodeMetrics.go
  fetchmetrics/purgeOldDocs.go
Labels: FetchMetrics

#258 Log config file moved to root dir
  log_config.json
  logger/logger.go
Labels: enhancement

#261 Code format/Config struct update
  cluster/cluster_level_parameters.go
  config.yaml
  config/config.go
  main.go
  recommendation/recommendationEngine.go
Labels: Recommendation

#264 Minor bug fix
  config/config.go
Labels: Recommendation

#267 Update return type
  cluster/cluster_level_parameters.go
  cluster_sim/cluster_level_parameters.go
  recommendation/recommendationEngine.go
Labels: Recommendation

#266 NumShards calculated
  fetchmetrics/fetchNodeMetrics.go
Labels: FetchMetrics

#265 catAllocation method
  opensearchUtils/apiCalls.go
Labels: enhancement

#273 Fetch metrics code cleanup and docstring update
  fetchmetrics/fetchClusterMetrics.go
  fetchmetrics/fetchMetrics.go
  fetchmetrics/fetchNodeMetrics.go
  fetchmetrics/purgeOldDocs.go
Labels: FetchMetrics

#272 Provisioner logic and docstring update
  provision/callAnsible.go
  provision/provision.go
  provision/scaleUpNode.go
  provision/state_functions.go
  provision/trigger.go
Labels: Provision

#270 Opensearch/utility docstring update
  opensearchUtils/apiCalls.go
  opensearchUtils/osConnection.go
  utilities/utilities.go
Labels: enhancement

#279 Add ENV variable for config file
  logger/logger.go
Labels: enhancement

#280 Update mappings.json
  opensearchUtils/mappings.json
Labels: enhancement

#282 Updated top command
  fetchmetrics/fetchNodeMetrics.go
Labels: FetchMetrics

#288 Changed metric names
  config.yaml
  recommendation/recommendationEngine.go
Labels: Recommendation

#289 Keep Alive on HTTP connection is disabled.
  opensearchUtils/osConnection.go
Labels: enhancement

#293 Context parameter shifted
  fetchmetrics/fetchNodeMetrics.go
  fetchmetrics/purgeOldDocs.go
Labels: FetchMetrics

#292 Shift context parameter
  opensearchUtils/apiCalls.go
  utilities/utilities.go
Labels: enhancement

#291 Added setBackToNormal logic
  provision/provision.go
  provision/state_functions.go
Labels: Provision

#290 Context param & main logic updated
  cluster/cluster_level_parameters.go
  main.go
  recommendation/recommendationEngine.go
Labels: Recommendation

#278 Multiple day Simulation
  simulator/src/app.py
  simulator/src/cluster.py
  simulator/src/config.yaml
  simulator/src/config_parser.py
  simulator/src/constants.py
  simulator/src/data_ingestion.py
  simulator/src/index.py
  simulator/src/node.py
  simulator/src/open_search_simulator.py
  simulator/src/schema.py
  simulator/src/search.py
Labels: Simulator

#285 Code for accelerating the scaling manager to test with simulator
  cluster_sim/cluster_level_parameters.go
  config.yaml
  config/config.go
  main.go
  provision/provision.go
  provision/trigger.go
Labels: Recommendation, Provision

#297 Provision history
  main.go
  provision/provision.go
Labels: Provision
